.name-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .chip {
    background-color: #555;
    border-radius: 20px;
    text-align: center;
    margin-block: 3px;
    margin-inline: 1px;
    inline-size: 100px;
    padding-block: 2px;
    padding-inline: 0;

    .chip-content {
      color: #fff;
    }
  }
}
